/// RESET ///

h1, h3 {
  font-family: 'Tinos', serif;
  font-style: italic;
}

body {
 background-image: url("https://lh3.googleusercontent.com/kSa3rxfwN9jX8UN-CBDvGIp10j7EDJK0mb6Pc_8QkIVvxpI8UalA5t0f0AxsMMYgiGPEcdB0RZfpGURweNs9S4n62Wmv-T9GKtQ1-8Oh2rnRUaVwp-69XsCGsxiOUGR4Sfkhl4uSEO9T5AdgGnpzncfBmixQSC2gOgRlwNdvCRIqbtHWF7TrNAXmzWMSXjHCgBXKgXL4vZhSr1kCrdnJ1yLR68UyIJQVrXIg7lwD2wYoWAyskjznBAA5IG5FRll7iA7SUSEVf_uwMjKN9D5CfvLYgKXId2CYXK5tmn8gdGunDY6DaBD38vb7xcSkvlKfC2j7s2mhYveascwlbZj6ntFdK7oBMJHV7uXU6XR9-FhZNBQ5dWNP2gGYsyq4EbUx0y9JBQbh3G8idfUy0fAOIm_oEl7wFX-vvuMFQvzyQzpbE6SSn9_ODjOGU15ZVENG1dLP3Ygv6OGG8vvjV2dtxf6A_ClkglqDQxijBItzP-zDkI7OYzdrYTfwRX180cXyo1LOK6SxL6GkjPdhIGQmxrYLESRnb9n7Ivo3houNbWoKnhRdq4f_QEsN9zLRMI1KlJ-5L6VBmufEOGCLo8eEHx6gpAYpsrZaIQoY6nss4qg1enQx4qSiub6ItrOmEi37aG6JLvYVDeFKBPBlGxFJ7ZMHzkDqyAIVkIqYyip66fZsettjMtFYZQ=w2416-h1358-no");
 background-repeat: no-repeat;
 background-size: 100%;
 background-blend-mode: lighten;
 background-position: center;
 background-color: #cccccc;
}

body, li, text, h2 {
  font-family: 'Arvo', serif;
  color: rgb(64, 125, 194);
}

text.trunk {
  color: rgb(64, 125, 194);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  display: flex;
}

ul {
  list-style: none;
}

main {
  display: flex;
  justify-content: center;
}

/// Header ///
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}

img.link-logo {
  height: 40px;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.header-right > ul {
  margin-left: 0;
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-center > h1 {
  margin-bottom: 5px;
}

.header-center > h3 {
  margin-top: 0;
}

.header-left {
  display: flex;
  width: 100px;
  margin-left: 20px;
}

.header-left > img {
  height: 120px;
}

/// Footer ///
footer {
  display: flex;
}

footer > h3 {
  display: flex;
}

footer > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 0;
}

/// Main ///
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-ul-top {
  display: flex;
  margin-bottom: 0;
  position: absolute;
  z-index: 0;
}

.category-ul-bottom {
  display: flex;
  margin-bottom: 0;
  position: absolute;
  z-index: 0;
}

.category-lis {
  position: relative;
}

.category-ul-top > .category-lis {
  bottom: 420px;
}

.category-ul-bottom > .category-lis {
  top: 390px;
}
li.category-lis.collection {
  margin-right: 100px;
}

.category-lis.specimen {
  margin-left: 120px;
}

.category-lis > h2 {
  color: rgb(89, 66, 54);
  font-weight: normal;
  margin: 0;
}



/// D3 ///
svg {
  border: 2px solid rgb(64, 125, 194);
  border-radius: 20px;
  z-index: 2;
}


circle.branches {
  fill: rgba(241, 107, 30, 0.683);
  stroke-width: 3px;
  stroke: rgb(89, 66, 54);
}

circle.leaves {
  stroke: rgb(152, 199, 45);
  stroke-width: 2px;
  fill: rgb(152, 199, 45);
}

text {
  font-size: 12px;
}

.link {
  stroke: rgba(241, 107, 30, 0.683);
  fill: rgb(89, 66, 54);
  fill-opacity: 30%;
}

.link.trunk {
  stroke: rgb(89, 66, 54);
  stroke-width: 12px;
}

circle.branches, circle.leaves {
  fill-opacity: 80%;
}

link.branches, .link.leaves {
  stroke: rgb(89, 66, 54);
  
  fill-opacity: 30%;
}

link.lower.branches {
  stroke-width: 7.5px;
}

link.middle.branches {
  stroke-width: 3.75px;
}

.link.leaves {
  stroke-width: 1px;
}