$emphasis-color: rgb(64, 125, 194);

/// RESET ///

h1, h2, h3, body, li {
  font-family: 'Public Sans', sans-serif;
}

h1, h3 {
  font-weight: 900;  
  color: $emphasis-color;
}

body, li, h2 {
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  display: flex;
}

ul {
  list-style: none;
}

.content-container {
  display: flex;
  justify-content: space-around;

}

main, svg, .info-container, .info-container > div {
  border: 2px solid $emphasis-color;
  border-radius: 20px;
}

.info-container, main {
  background-color: #535353;
}

.info-container > div, svg {
  background-color: white;
  -moz-box-shadow: inset 5px 5px 5px 5px grey;
  -webkit-box-shadow: inset 5px 5px 5px 5px grey;
  box-shadow: inset 5px 5px 5px 5px grey;
}

/// Header ///
header {
  display: flex;
  justify-content: space-around;
  width: 1200px;
}

.header-left {
  display: flex;
  margin-left: 30px;
  margin-bottom: 5px;
  
}

.header-right {
  display: flex;
  justify-content: flex-end;
  margin-left: 35px;
  
  ul {
    display: flex;
    padding: 0;

    li {
      
      img.link-logo {
        width: 40px;
        color: black;
        margin-left: 10px;
      }
    }
  }
}

/// Main ///
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  form {
    margin: 5px 0;

    label {
      color: white;
      margin-right: 20px;
    }

    select {
      border: 2px solid $emphasis-color;
      border-radius: 9px;
    }
  }
}



/// D3 ///
svg {
  border: 2px solid $emphasis-color;
  border-radius: 20px;
  z-index: 2;
  margin: 5px 25px 25px 25px;
}

circle.branches {
  stroke-width: 3px;
  stroke: grey;
}

circle.leaves {
  stroke: rgb(152, 199, 45);
  stroke-width: 2px;
  fill: rgb(152, 199, 45);
}

text {
  font-size: 12px;
}

.link {
  stroke: grey;
  fill: #535353;
  fill-opacity: 30%;
}

.link.trunk {
  stroke: #535353;
  stroke-width: 12px;
}

circle.branches, circle.leaves {
  fill-opacity: 80%;
}

link.branches, .link.leaves {
  stroke: grey;
  
  fill-opacity: 30%;
}

link.lower.branches {
  stroke-width: 7.5px;
}

link.middle.branches {
  stroke-width: 3.75px;
}

.link.leaves {
  stroke-width: 1px;
}

///// Aside /////
.info-container {
  height: 100%;
  width: 250px;
  margin-left: 25px;
}
.info-container > div {
  margin: 20px;
  padding: 15px;
}

.info-h3 {
  text-align: center;
}

.info-ul {
  padding: 20px;
  list-style-type: disc;
}

